<!-- <app-navbar (stepSelected)="onNavigate($event)"> -->
<app-navbar>
</app-navbar>

<main role="main" class="container" style="margin-top:100px;">

  <div class="starter-template" style="text-align:center;">
    <h1>RTS Labs Front-end Developer challenge</h1>
    <h6>This application is a barebones website with two pages: Search and History.</h6>
    <h6>These pages interface with the Hacker News Algolia API.</h6>
  </div>

</main>



<router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../../../assets/js/vendor/popper.min.js"></script>
<script src="../../../../dist/js/bootstrap.min.js"></script>